<!DOCTYPE html>
<html>

<head>
    <title>Muokkaa kommenttia</title>
</head>

<body>
    <a href="/recipe/{{comment.recipe_id}}">Takaisin reseptiin</a>
    <hr>
    
    <form action="/edit_comment/{{ comment.comment_id }}", method="post">
    <p>
        <label for="comment"><h1>Kommentin muokkaus</h1></label> <br>
        <textarea name="comment" id="comment" rows="12" cols="50" maxlength="5000" required>{{comment.comment_content}}</textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä muutokset">
    </form>
</body>

</html>