<!DOCTYPE html>
<html>

<head>
    <title> Etusivu </title>
</head>

<body>
    <h1> Etusivu </h1>
    <hr>
    {% if session.username %}
    <p>
        Olet kirjautunut käyttäjällä <b>{{session.username}}</b> <br>
        <a href="/logout">Kirjaudu ulos</a>
        <hr>
    </p>
    {% else %}
        <a href="/login">Kirjaudu</a>
        <a href="/register">Luo tunnus</a>
        <hr>
    {% endif %}
    
    <h2> Uusimmat reseptit </h2>

    {% for recipe in recipes %}
    <p>
        <a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a>
        <br>
    </p>
    <hr>
    {% endfor %}
    
</body>

</html>