<!DOCTYPE html>
<html>

<head>
    <title> Etusivu </title>
</head>

<body>
    <h1> Etusivu </h1>
    <hr>
    {% if session.username %}
    <p>
        Olet kirjautunut käyttäjällä <a href="/user/{{session.user_id}}">{{session.username}}</a> <br>
        <a href="/logout">Kirjaudu ulos</a>
        <hr>
    </p>
    <p>
        <a href="/add_recipe">Lisää uusi resepti</a>
    </p>
    
    <hr>
    {% else %}
        <a href="/login">Kirjaudu</a>
        <a href="/register">Luo tunnus</a>
        <hr>
    {% endif %}


    <h2> Hae reseptejä </h2>
    <form action="/search" method="get">
        <p>
            <label for="query">Hakusana</label>:<br>
            {% if query %}
            <input type="text" name="query" id="query" value="{{query}}">
            {% else %}
            <input type="text" name="query" id="query" maxlength="100">
            {% endif %}
        </p>
        <input type="submit" value="Hae">
    </form>
    <hr>
    
    <h2> Uusimmat reseptit </h2>

    {% for recipe in recipes %}
    <p>
        <a href="/recipe/{{ recipe.recipe_id }}">{{ recipe.title }}</a>
        <br>
    </p>
    {% endfor %}

    <p>
        <a href="/{{ page - 1 }}">&lt;&lt;</a>
        Sivu {{ page }}/{{ page_count }}
        <a href="/{{ page + 1 }}">&gt;&gt;</a>
      </p>
      <hr />
</body>

</html>