<!DOCTYPE html>
<html>

<head>
    <title>{{recipe.title}}</title>
</head>

<body>
    <a href="/">Takaisin etusivulle</a>
    <hr>
    {% if recipe.user_id == session.user_id %}
    <p>
        <a href="/edit_recipe/{{ recipe.recipe_id }}">Muokkaa reseptiä</a> <br>
        <a href="/delete_recipe/{{ recipe.recipe_id }}">Poista resepti</a>
        <hr>
    </p>
    {% endif %}
    <h1>{{recipe.title}}</h1>
    <h2>Ainesosat:</h2>
    <pre>{{recipe.ingredients}}</pre>
    <h2>Valmistusohje:</h2>
    <pre>{{recipe.instructions}}</pre>
    <hr>
    {% if session.user_id %}
    <form action="/add_comment" method="post">
        <p>
            Lisää kommentti:<br>
            <textarea name="comment" rows="5" cols="50" maxlength="5000" minlength="1"></textarea>
        </p>
        <input type="hidden" name="recipe_id" value="{{recipe.recipe_id}}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Lähetä">
    </form>
    {% endif %}
    <h3>Kommentit:</h3>
    {% for comment in comments %}
    <p>
        {{ comment.username }} | {{ comment.sent_at}}
            {% if comment.user_id == session.user_id %}
                | <a href="/edit_comment/{{ comment.comment_id }}">Muokkaa</a>
                | <a href="/delete_comment/{{ comment.comment_id }}">Poista</a>
            {% endif %}
        <br>
        <pre>{{ comment.comment_content }}</pre>
        <hr>
        
    </p>
    {% endfor %}
</body>

</html>