<!DOCTYPE html>
<html>

<head>
  <title> Luo tunnus </title>
</head>

<body>
  <form action="/create" method="post">
    <p>
      <label for="username">Käyttäjätunnus</label>:<br />
      <input type="text" id="username" name="username" maxlength="100" required/>
    </p>
    <p>
      <label for="password1">Salasana</label>: <br />
      <input type="password" id="password1" name="password1" maxlength="100" required/>
    </p>
    <p>
      <label for="password2">Salasana uudestaan</label>: <br />
      <input type="password" id="password2" name="password2" maxlength="100" required/>
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
  
  <hr>
  <p>
    <a href="/login"> Onko sinulla jo tunnus? Kirjaudu sisään</a>    
  </p>    
  <a href="/">Takaisin etusivulle </a>
</body>

</html>
