<!DOCTYPE html>
<html>

<head>
    <title>Haku</title>
</head>

<body>
    <a href="/">Takaisin etusivulle</a>
    <hr>
    <h1> Haku </h1>

    <form action="/search" method="get">
        <p>
            <label for="query">Hakusana</label>: <br>
            {% if query %}
            <input type="text" name="query" id="query" value="{{query}}" maxlength="100">
            {% else %}
            <input type="text" name="query" id="query" maxlength="100">
            {% endif %}
        </p>
        <input type="submit" value="Hae">
    </form>

    {% if query %}
    <hr>
    <h2> Tulokset </h2>

    {% for result in results %}
        <li>
            <a href="/recipe/{{ result.recipe_id }}"> {{ result.title }} </a> <br>
        </li>
    {% endfor %}
    {% endif %}
    <br>
    <a href="{{ url_for('search_page', query=query, page=page-1) }}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a href="{{ url_for('search_page', query=query, page=page+1) }}">&gt;&gt;</a>
</body>

</html>
